*{
  box-sizing: border-box;
}

a{
  cursor: pointer;
}

body {
  color: #333;
}

main {
  padding: 1vh;
  max-width: 90%;
  margin: 0 auto;
  padding: 1vh;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  margin-top: 2vh;
  justify-content: space-between;
  margin-bottom: 4vh;
  align-items: center;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a.logo{
  font-weight: bold;
  font-size: 4vh;
}

header nav{
  display: flex;
  gap: 2vh;
}

@media screen and (min-width: 725px) {
  div .post {
    grid-template-columns:.9fr 1.1fr;
  }
}

.post{
  display: grid;
  grid-template-columns:1fr;
  gap: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  margin-bottom: 3vh;
}

.post .texts h2{
  margin:0;
  font-size: 3vh;
  margin-bottom: 0.7vh;
}

.texts a{
  text-decoration: none;
  color: inherit;
}

.post .info{
  margin: 0;
  color: #888;
  font-size: 1.3vh;
  font-weight: bold;
  display: flex;
  gap: 1vh;
}

.author {
  color: #333;
  text-decoration: none;
}

.post .summary{
  margin: 1vh 0;
  line-height: 3vh;
}

.Register{
  max-width: 50vh;
  margin: 0 auto;
}
.Login{
  max-width: 50vh;
  margin: 0 auto;
}
input{
  display: block;
  margin-bottom: 0.7vh;
  width: 100%;
  padding: 0.7vh 0.9vh;
  border: 0.3vh solid #ddd;
  border-radius: 0.7vh;
  background-color: #fff;
}

button{
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 0.7vh;
  padding: .9vh 0;
}


.Login h1, .Register h1{
  text-align: center;
}

div .post-page div.image {
  max-height: 65vh;
  display: flex;
  overflow: hidden;
}

div .post-page .image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div .post-page a{
  color: #333;
  text-decoration: underline;
}


div .post-page time{
  display: block;
  font-size: 1.8vh;
  color: #8a8989;
}

div .post-page .author {
  font-size: 1.5vh;
  font-weight: bold;
}

div .post-page .content {
  line-height: 3vh;
}

div .edit-row {
    text-align:right;
    margin-bottom: 2vh;
}

div.post-page .edit-btn{
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap:0.7vh;
  color: #fff;
  padding:1.2vh 2.1vh;
  border-radius: 0.7vh;
  text-decoration: none;
}

a svg {
  height: 2.4vh;
}