body {
  color: #333;
}

main {
  padding: 1vh;
  max-width: 90vh;
  margin: 0 auto;
  padding: 1vh;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  margin-top: 2vh;
  justify-content: space-between;
  margin-bottom: 4vh;
  align-items: center;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a.logo{
  font-weight: bold;
  font-size: 4vh;
}

header nav{
  display: flex;
  gap: 2vh;
}

.post{
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  gap: 2vh;
  margin-bottom: 3vh;
}

.post .texts h2{
  margin:0;
  font-size: 3vh;
  margin-bottom: 0.7vh;
}

.post .info{
  margin: 0;
  color: #888;
  font-size: 1.3vh;
  font-weight: bold;
  display: flex;
  gap: 1vh;
}

.author {
  color: #333;
}

.post .summary{
  margin: 1vh 0;
  line-height: 3vh;
}